#gameboard{

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height :300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.Squares{
    height:100px;
    width:100px;
    border: 2px solid black;
    font-size: 40px;
}
#player{
    padding-top: 5px;
    padding-bottom: 20px;
}


#container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
    font-family: 'Solway', serif;
    font-weight: bolder;
    font-size: 20px;
}
